<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Add Policy'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-right" (click)="clearPolicy()">
      Clear
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Policy Name" [(ngModel)]="policyObject.policy_name"></ion-input>
    </ion-col>
  </ion-row>
  <ion-select class="margin-bottom-8" placeholder="Select Policy Type" [(ngModel)]="policyObject.policy_type">
    <ion-select-option *ngFor="let item of policyType ;let i=index" [value]="item.value">
      {{item.name}}
    </ion-select-option>
  </ion-select>
  <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="policyObject.policy_html"></angular-editor>

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="addPolicy()">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Set Policy
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-card class="ion-padding" *ngFor="let item of polices ; let i = index;">
    <ion-row>
      <ion-col size="10">
        {{item.policy_name}}
      </ion-col>
      <ion-col size="1" (click)="editPolicy(item)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deletePolicy(item)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>