<app-fire-cms-header [title]="'Policy'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <h4>{{policyInfo.policy_name}}</h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div [innerHtml]="policyInfo.policy_html"></div>
    </ion-col>
  </ion-row>
  <app-fire-cms-footer></app-fire-cms-footer>
</ion-content>