<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Product Management'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-button (click)="goToProduct()">Add Product</ion-button>
  <ion-card class="ion-padding" *ngFor="let item of products">
    <ion-row>
      <ion-col size="9">
        {{item.product_name}}
      </ion-col>
      <ion-col size="1">
        {{item.orderby}}
      </ion-col>
      <ion-col size="1" (click)="editProduct(item.productDocId)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deleteProduct(item.productDocId)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="goToFeature(item)">Add feature</ion-button>
        <ion-button (click)="goToPricing(item)">Add Price</ion-button>
        <ion-button (click)="goToHowItWork(item)">Add How it work</ion-button>
        <ion-button (click)="manageCover(item)">Mange Cover</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>