<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Company Setting'"></app-fire-cms-header>
<ion-content class="ion-padding">



  <div class="sketch-width">
    <ion-row>
      <ion-col>
        Primary Color
      </ion-col>
    </ion-row>
    <color-sketch [color]="commonService.primaryColor" (onChangeComplete)="changeComplete($event)"></color-sketch>
  </div>
  <input type="file" class="display-none" accept="image/*" #imgInput (change)="imageUpload($event)">
  <ion-button *ngIf="!logoInfo.url" (click)="imgInput.click()">
    Upload Company Logo</ion-button>
  <ion-row class="logo-text" *ngIf="logoInfo.url">
    <ion-col class="ion-text-center">
      Company Logo
    </ion-col>
  </ion-row>
  <ion-img class="logo" (click)="imgInput.click()" [src]="logoInfo.url">

  </ion-img>


</ion-content>