.logo {
  width: 100px;
  height: 100px;
  object-fit: contain !important;
  margin-left: auto;
  margin-right: auto;
}

.logo-text {
  margin-top: 40px;
  margin-bottom: 10px;
}

.sketch-width {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
