<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Home Management'"></app-fire-cms-header>
<ion-content padding>
  <ion-button (click)="goToPolicy()">Add Policy</ion-button>
  <!-- <ion-button (click)="goToFooter1()">Add Footer 1</ion-button> -->
  <ion-button (click)="goToFooter2()">Add Footer 2</ion-button>
  <ion-button (click)="goToAboutUs()">About Us</ion-button>
  <ion-grid fixed>
    <!-- <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Heading Cover" [(ngModel)]="coverObject.heading_cover"></ion-input>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Cover Header Line1" [(ngModel)]="coverObject.cover_hLine_1"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Cover Header Line2" [(ngModel)]="coverObject.cover_hLine_2"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Cover Line" [(ngModel)]="coverObject.cover_Line_3"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Tagline" [(ngModel)]="footer1Object.tagline"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Phone no." [(ngModel)]="footer1Object.phone_num"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Conatct Number" [(ngModel)]="footer1Object.contact_num"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Conatct Email" [(ngModel)]="footer1Object.contact_email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter Conatct Address" [(ngModel)]="footer1Object.contact_address"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!coverObject.coverId">
      <ion-col class="ion-text-center">
        <ion-button (click)="CreateCover()">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Create Cover
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="coverObject.coverId">
      <ion-col class="ion-text-center">
        <ion-button (click)="UpdateRecord()">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Update Cover
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="coverObject.coverId">
      <ion-col class="ion-text-center">
        <ion-button color="danger" (click)="RemoveRecord()">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          &nbsp;Delete Cover
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>





</ion-content>