<app-fire-cms-header [title]="'About Us'"></app-fire-cms-header>
<ion-content>
  <ion-grid class="pt-4 pb-4">
    <ion-row class="pt-5 pb-5">
      <ion-col col-md-6 col-12 col-sm-12 col-xs-12>
        <ion-img [src]="aboutusObject.url" class="header1_img"></ion-img>
      </ion-col>
      <ion-col col-md-6 col-12 col-sm-12 col-xs-12 class="ml-4">
        <ion-row class="mt-4">
          <h3>{{aboutusObject.title}}</h3>
        </ion-row>
        <div class="brdrbtm" [ngStyle]="{'border-color': commonService.primaryColor}"></div>
        <ion-row class="sml-text font-21 mr-2 prmd5">
          {{aboutusObject.subtitle}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-fire-cms-footer></app-fire-cms-footer>
</ion-content>