<app-fire-cms-header [goBack]="true" [title]="'Create User'"></app-fire-cms-header>
<ion-content padding>
    <ion-item>
        <ion-input placeholder="Enter First Name" [(ngModel)]="loginObject.Name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Enter Last Name" [(ngModel)]="loginObject.lname"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Enter Phone" [(ngModel)]="loginObject.phno"></ion-input>
    </ion-item>
    <ion-row>
        <ion-col>
            <ion-select placeholder="Select Role" [(ngModel)]="loginObject.role">
                <ion-select-option *ngFor="let item of userTypes ;let i=index" [value]="item">
                    {{item}}
                </ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>

    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
        <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                    *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                    *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>



        <ion-button *ngIf="!normalId" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Register
        </ion-button>

        <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
    </form>
    <ion-button *ngIf="normalId" class="submit-btn" (click)="updateUserData()" [disabled]="!validations_form.valid">
        Update
    </ion-button>
</ion-content>