<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Set About Us'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Title" [(ngModel)]="aboutusObject.title"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Subtitle" [(ngModel)]="aboutusObject.subtitle"></ion-input>
    </ion-col>
  </ion-row>

  <input type="file" class="display-none" accept="image/*" #imgInput (change)="imageUpload($event)">
  <ion-button *ngIf="!aboutusObject.url" (click)="imgInput.click()">
    Upload Image</ion-button>
  <ion-img *ngIf="aboutusObject.url" (click)="imgInput.click()" [src]="aboutusObject.url" class="font-21 product-image">
  </ion-img>

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="setAboutUs()">
        &nbsp;Set About Us
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>