<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Product'"></app-fire-cms-header>
<ion-content class="ion-padding">

  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Name" #inputId [(ngModel)]="leadObject.lead_name"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Ph Number" [(ngModel)]="leadObject.lead_phno"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Remarks" [(ngModel)]="leadObject.lead_remarks"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-datetime [displayTimezone]="userData.timezone" [(ngModel)]="leadObject.actual_time"
        placeholder="Select Date and time" id="dynamicDisabled" displayFormat="DD/MM/YYYY HH:mm">
      </ion-datetime>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select class="margin-bottom-8" placeholder="Select Status" 
        [(ngModel)]="leadObject.status">
        <ion-select-option *ngFor="let item of options ;let i=index" [value]="item">
          {{item}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-col class="ion-text-center">
    <ion-button *ngIf="!leadId" (click)="addLead()">
      &nbsp;Add Leads
    </ion-button>
    <ion-button *ngIf="leadId" (click)="updateLead()">
      &nbsp;Update Leads
    </ion-button>
  </ion-col>

</ion-content>