<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Admin Products & Users'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <h5 *ngIf="normalUser.length > 0">Normal Users</h5>
  <ion-card class="ion-padding" *ngFor="let item of normalUser; let i = index;">
    <ion-row>
      <ion-col size="10">
        {{item.Name}}
      </ion-col>
      <!-- <ion-col size="2" (click)="goToProductsAndUsers(item)">
        <ion-button>Products & Users</ion-button>
      </ion-col> -->
    </ion-row>
  </ion-card>
  <h5 *ngIf="activeProducts.length > 0">Products</h5>
  <ion-card class="ion-padding" *ngFor="let item of activeProducts; let i = index;">
    <ion-row>
      <ion-col class="product-margin" size="5">
        {{item.product_name}}
      </ion-col>
      <ion-col class="ion-text-right product-margin" size="6">
        Expiry Date : {{getFormatedDate(item)}}
      </ion-col>
      <ion-col class="ion-text-right" size="1">
        <ion-button (click)="goToProductDetails(item)">Edit</ion-button>
      </ion-col>
      <!-- <ion-col size="2" (click)="goToProductsAndUsers(item)">
        <ion-button>Products & Users</ion-button>
      </ion-col> -->
    </ion-row>
  </ion-card>
</ion-content>