.header1_fntclr {
  padding: 0;
  margin: 0 0 15px 0;
}

.header1_btn {
  padding: 1em 2.4em;
  min-width: 172px;
  // border-radius: 1.6em;
  // border: 1px solid #f44336;
  color: var(--text-white);
  background-color: #eb6a56;
}
.text-black {
  color: black;
}
.text-green {
  color: var(--ion-color-primary) !important;
}
.bg-purple {
  background-color: var(--ion-color-primary) !important;
}
.text-purpl {
  color: var(--ion-color-primary) !important;
}

ion-segment {
  max-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.upgrade_btn {
  margin-bottom: 20px;
}

.smlbtn {
  background: #2dbd9c;
  color: var(--text-white);
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 8px;
  line-height: 2.2;
  border-radius: 8px;
}
.headbg {
  background-color: var(--gray);
}
.clrrow {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 70%;
}

.bg-lggray {
  background-color: #3b3655 !important;
}
.bg-lgray {
  background-color: var(--gray);
}
.brdr {
  border: 1px solid #e5e5e5;
}
.brdrpr {
  border: 1px solid #e5e5e5;
  //border-radius:5%;
}
.bg-white {
  background-color: white;
}
.text-white {
  color: white;
}
.text-purpl {
  color: var(--ion-color-primary) !important;
}
.brdrbtm {
  margin: 10px 0;
  width: 80px;
  height: 5px;
  // border-color: var(--ion-color-primary);
  border-style: solid;
  border-radius: 50px;
  margin-top: 0 !important;
}
.rowbordr {
  //border-color: var(--ion-color-primary);
  border-bottom: 1px solid #e5e5e5;
}
.bg-lggray {
  background-color: var(--footclr);
}

.cover-row {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.change-cover-text {
  margin-left: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.bg-lggray {
  background-color: var(--footclr);
}
.cover_btn1 {
  padding: 0.8em 2.4em;
  min-width: 158px;
  color: var(--text-black);
  background-color: var(--text-white);
}
.cover_btn2 {
  padding: 0.8em 2.4em;
  min-width: 158px;
  color: var(--text-white);
  background-color: var(--ion-color-primary);
}
.cover_img {
  height: 376px;
  width: 560px;
}
// .starfall {
//     width: 8px;
//     height: 8px;
//     background: #8c8cf9;
//     position: absolute;
//     border-radius: 50%;
//     opacity: .5;
//     //animation: anim1  2s infinite alternate;
//   }

@keyframes anim1 {
  // 0%   {
  //     width: 8px;
  //     height: 8px;
  //     background: #8c8cf9;
  //     position: absolute;
  //     border-radius: 50%;
  //     opacity: .5;
  //      left:0px; top:0px;
  // }
  // 25%  {
  //     width: 8px;
  //     height: 8px;
  //     background: #8c8cf9;
  //     position: absolute;
  //     border-radius: 50%;
  //     opacity: .5;
  //      left:200px; top:0px;
  // }
  // 50%  {
  //     width: 8px;
  //     height: 8px;
  //     background: #8c8cf9;
  //     position: absolute;
  //     border-radius: 50%;
  //     opacity: .5;
  //      left:200px; top:200px;
  // }
  // 75%  {
  //     width: 8px;
  //     height: 8px;
  //     background: #8c8cf9;
  //     position: absolute;
  //     border-radius: 50%;
  //     opacity: .5;
  //      left:0px; top:200px;
  // }
  // 100% {
  //     width: 8px;
  //     height: 8px;
  //     background: #8c8cf9;
  //     position: absolute;
  //     border-radius: 50%;
  //     opacity: .5;
  //      left:0px; top:0px;
  // }
  10% {
    opacity: 0.5;
  }
  12% {
    opacity: 1;
    -webkit-box-shadow: 0 0 3px 0 white;
    box-shadow: 0 0 3px 0 white;
  }
  15% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(85vw) translateY(100vh);
    transform: translateX(85vw) translateY(100vh);
    opacity: 0;
  }
}

.starfall {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  z-index: 0;
}
.falling-star {
  -webkit-transform: translateX(65vw) translateY(-8px);
  transform: translateX(65vw) translateY(-8px);
  -webkit-animation: anim1 4s infinite;
  animation: anim1 4s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.2s;
}
.starfall .falling-star {
  width: 8px;
  height: 8px;
  background: #8c8cf9;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}

.mainheader {
  .header2_img {
    padding-left: 1rem;
    height: 490px;
  }
}
.tagline {
  background: url(../../assets/background/banner.png);
  background-repeat: repeat;
  //background-position: center;
  background-size: cover;
}
.ziggy {
  background-image: url(../../assets/background/ziggys.svg);
  background-repeat: repeat;
  background-size: 30px;
}
// Yellow - #F9BF3B
// Red - #EB6A56
// Green - #2DBD9C
// Blue - #45426
.feature1,
.feature4,
.feature7,
.feature10 {
  color: #eb6a56;
}
.feature2,
.feature5,
.feature8,
.feature11 {
  color: #f9bf3b;
}
.feature3,
.feature6,
.feature9,
.feature12 {
  color: #2dbd9c;
}
