<app-fire-cms-header [title]="'Product Information'"></app-fire-cms-header>
<ion-content>
    <div class="cover-row">
        <div class="change-cover-text">Change cover</div>
        <ion-toggle [(ngModel)]="selectedCover" class="ion-text-right" mode="ios" color="primary"></ion-toggle>
    </div>

    <ion-grid class="mainheader" *ngIf="productInfo.cover && selectedCover">
        <!-- [ngStyle]="{'background-color': commonService.primaryColor}"> -->
        <ion-row class="mb-4">
            <ion-col col-md-8 col-12 col-sm-12 col-xs-12 class="ml-4">
                <ion-row class="sml-text font-12 mr-2 bg-white clrrow">
                    <!-- <ion-col col-md-1 col-1 col-sm-1 col-xs-1 col-lg-1 col-xl-1></ion-col> -->
                    <ion-col col-md-1 col-1 col-sm-1 col-xs-1 col-lg-1 col-xl-1 class="ml-3">
                        <a target="_blank" class="smlbtn">{{productInfo.cover.prod_cover_update1}}</a>
                        <span class="pl-3 pt-3"> {{productInfo.cover.prod_cover_update2}}</span>
                    </ion-col>
                    <!-- <ion-col col-md-1 col-1 col-sm-1 col-xs-1 col-lg-1 col-xl-1>
                  Check out the newest features
              </ion-col> -->
                </ion-row>
                <ion-row class="mt-3">
                    <h2 class="header1_fntclr text-black">
                        {{productInfo.cover.title}}
                        <!-- Learn <br> Development. -->
                        <!-- Build it <br>Beautiful.<br>& Unparalleled. -->
                    </h2>
                </ion-row>
                <ion-row class="sml-text font-21 mr-2 text-black">
                    <div [innerHtml]="productInfo.cover.subtitle"></div>
                </ion-row>
                <ion-row class="mt-4 mb-4">
                    <a (click)="openLink()"
                        class="header1_btn  text-white text-center">{{productInfo.cover.cover_button_text}}</a>
                </ion-row>
            </ion-col>
            <ion-col col-md-4 col-12 col-sm-12 col-xs-12>
                <ion-img [src]="productInfo.cover.url" class="header2_img"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>







    <ion-grid class="pt-7 pb-7 bg-lggray" *ngIf="productInfo.cover2 && !selectedCover">
        <div class="starfall">
            <div class="falling-star"></div>
            <div class="falling-star"></div>
            <div class="falling-star"></div>
            <div class="falling-star"></div>
            <div class="falling-star"></div>
        </div>
        <!-- <div class="starfall mt-2"></div> -->
        <ion-row class="mt-1">
            <ion-col class="text-center">
                <h2>{{productInfo.cover2.title}}</h2>
            </ion-col>
        </ion-row>
        <ion-row class="">
            <ion-col class="text-center font-16 sml-text1 pl-5 pr-5">
                {{productInfo.cover2.subtitle}}
            </ion-col>
        </ion-row>
        <ion-row class="mt-4 ion-justify-content-center">
            <a href="#" target="_blank" class="cover_btn1">Get Started</a>
            <a href="#" target="_blank" class="cover_btn2 ml-2">Try it for Free</a>
        </ion-row>
        <ion-row class="mt-1 ion-justify-content-center">
            <ion-img [src]="productInfo.cover2.url" class="cover_img"></ion-img>
        </ion-row>
    </ion-grid>





    <ion-grid class="pt-5 pb-5 tagline">
        <ion-row class="ion-justify-content-center">
            <h3>{{productInfo.product_tagline ? productInfo.product_tagline: ''}}</h3>
        </ion-row>
    </ion-grid>
    <ion-grid class="pt-5 pb-5 bg-lggray ziggy">
        <ion-row class="ion-justify-content-center pt-5">
            <h3 class="text-white" style="text-align: center;">Many Integrations <br> Discover many pre-built
                integrations</h3>
            <!-- <h3 class="text-white"> Discover many pre-built integrations</h3> -->

        </ion-row>
        <!-- <ion-row class="ion-justify-content-center sml-text font-21 text-white">
            <h3 class="text-white"> Discover many pre-built integrations</h3>
        </ion-row> -->
        <ion-row class="text-center pt-4 pb-4 ion-justify-content-center">
            <ion-col size-md="3" size-sm="11" size-xs="11" size-lg="3" size-xl="3"
                class="mt-4 mb-4  ml-3 mr-3 text-center" *ngFor="let list of productInfo.features;let i=index;">
                <ion-grid class="">
                    <ion-row class=" mt-4">
                        <ion-col class="text-center">
                            <ion-icon *ngIf="list.feature_icon !== 'Custom Image'"
                                [ngStyle]="{'color': commonService.primaryColor}" [attr.name]="list.feature_icon"
                                class="font-30"></ion-icon>
                            <ion-img class="font-21 product-image" *ngIf="list.feature_icon === 'Custom Image'"
                                [src]="list.url"></ion-img>
                        </ion-col>
                    </ion-row>
                    <ion-row class="">
                        <ion-col class="text-center">
                            <h5 [class]="'feature'+(i+1) ">{{list.feature_name}}</h5>
                        </ion-col>
                    </ion-row>
                    <ion-row class="font-18 mr-2 ml-2 mb-5">
                        <div [innerHtml]="list.feature_description" class="text-white"></div>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="pt-4 pb-4" *ngFor="let item of productInfo.howitworks; let i = index">
        <ion-row class="pt-5 pb-5">
            <ion-col col-md-6 col-12 col-sm-12 col-xs-12 *ngIf="i%2 !== 0">
                <ion-img [src]="item.url" class="header1_img"></ion-img>
            </ion-col>
            <ion-col col-md-6 col-12 col-sm-12 col-xs-12 class="ml-4">
                <ion-row class="mt-4">
                    <h3>{{item.title}}</h3>
                </ion-row>
                <div class="brdrbtm" [ngStyle]="{'border-color': commonService.primaryColor}"></div>
                <ion-row class="sml-text font-21 mr-2 prmd5">
                    <div [innerHtml]="item.subtitle"></div>
                </ion-row>
                <ion-row class="mt-4 mb-4">
                    <a href="#" target="_blank" class="text-purpl">Learn More</a>
                </ion-row>
            </ion-col>
            <ion-col col-md-6 col-12 col-sm-12 col-xs-12 *ngIf="i%2 === 0">
                <ion-img [src]="item.url" class="header1_img"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="pt-5 pb-5 headbg" *ngIf="userData.role ==='admin' || userData.role ==='super-admin'">
        <ion-row class="ion-justify-content-center pt-5">
            <h2>Product Prices</h2>

        </ion-row>
        <ion-segment mode="ios" [(ngModel)]="selectedPrice" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="monthly">
                <ion-label>Monthly</ion-label>
            </ion-segment-button>
            <ion-segment-button value="yearly">
                <ion-label>Yearly</ion-label>
            </ion-segment-button>
            <ion-segment-button value="one_time">
                <ion-label>One Time</ion-label>
            </ion-segment-button>
        </ion-segment>

        <!-- <ion-row class="ion-justify-content-center sml-text font-21">
        
        </ion-row> -->
        <ion-row class="text-center pt-4 pb-4 ion-justify-content-center">
            <ion-col size-md="3" size-sm="11" size-xs="11" size-lg="3" size-xl="3"
                [hidden]="purchaseData.plan_id && list.plan_id === purchaseData.plan_id"
                class="mt-4 mb-4  ml-3 mr-3 text-center" *ngFor="let list of filterPrice; let i = index">
                <ion-grid class="brdrpr bg-white">

                    <ion-row class="">
                        <ion-col class="text-center text-white"
                            [ngStyle]="{'background-color': commonService.primaryColor}">
                            <h4 class=" text-white">{{list.price_header}}</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row class="pb-4 pt-5">
                        <ion-col class="text-center">
                            <sup class="font-16"></sup><span
                                class="font-30 pl-3"><b>{{list.price}}{{list.currency === 'USD' ? '$': '₹'}}</b></span>
                            <span class="sml-text font-14 pl-2">/</span><span
                                class="sml-text font-14 pl-2">{{list.plan ? list.plan.name : ''}} ({{list.no_user}}
                                User)</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="sml-text font-16 mr-2 ml-2 pt-3 pb-2" *ngFor="let feature of list.featuresArray">
                        <ion-col class="text-center rowbordr">{{feature}}</ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center pt-4 pb-2">
                        <button *ngIf="!paidUser" (click)="buyNow(list ,i)"
                            [ngStyle]="{'border-color': commonService.primaryColor,'color': commonService.primaryColor}"
                            ion-button class="header1_btn">Buy Now</button>
                        <button *ngIf="paidUser" (click)="buyNow(list ,i)"
                            [ngStyle]="{'border-color': commonService.primaryColor,'color': commonService.primaryColor}"
                            ion-button class="header1_btn upgrade_btn">Upgrade</button>


                    </ion-row>
                    <ion-row class="pb-2">
                        <ion-col class="ion-text-center">
                            <div class=" text-purpl text-center" *ngIf="paidUser">licence active till
                                {{getDateFormat()}}
                            </div>
                        </ion-col>

                    </ion-row>
                    <!-- <ion-row class="sml-text font-14 mr-2 ml-2">
                        <ion-col class="text-center">1 data stream</ion-col>
                    </ion-row>
                    <ion-row class="sml-text font-14 mr-2 ml-2 mb-5">
                        <ion-col class="text-center">1 team member</ion-col>
                    </ion-row> -->
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-fire-cms-footer></app-fire-cms-footer>
</ion-content>