<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Add Feature'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Feature Name" [(ngModel)]="featureObject.feature_name"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!prouductId">
    <ion-col>
      <ion-select placeholder="Select Product Name" [(ngModel)]="selectedProduct">
        <ion-select-option *ngFor="let item of products ;let i=index" [value]="item">
          {{item.product_name}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <input type="file" class="display-none" accept="image/*" #imgInput (change)="imageUpload($event)">
  <ion-row (click)="presentModal()">
    <ion-col>
      <ion-input readonly placeholder="Select One" [(ngModel)]="featureObject.feature_icon"></ion-input>
      <!-- <ion-select placeholder="Select One" [(ngModel)]="featureObject.feature_icon">
        <ion-select-option value="book">
          Book
        </ion-select-option>
        <ion-select-option value="Search">
          Search
        </ion-select-option>
      </ion-select> -->
    </ion-col>
  </ion-row>
  <ion-img *ngIf="featureObject.url && featureObject.feature_icon === 'Custom Image'" (click)="imgInput.click()"
    [src]="featureObject.url" class="font-21 product-image">
  </ion-img>
  <ion-row>
    <ion-col>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="featureObject.feature_description">
      </angular-editor>
      <!-- <ion-textarea placeholder="Enter Feature Description" [(ngModel)]="featureObject.feature_description">
      </ion-textarea> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button *ngIf="!prouductId || !index" (click)="addFeature()">
        &nbsp;Add Feature
      </ion-button>
      <ion-button *ngIf="prouductId && index !== undefined" (click)="addFeature()">
        &nbsp;Update Feature
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>