<!-- <ion-header>
  <ion-toolbar>
    <ion-title>serviceagent-pshiba2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="locationObj">
    Latitude: {{locationObj.latitude}}<br />
    Longitude: {{locationObj.longitude}}
  </div>

  <ion-row>
    <ion-col size=6>
      <ion-button expand=full size="small" (click)="getPicture('camera')">
        <ion-icon name="camera" slot="start"></ion-icon>
        <ion-label>Camera</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size=6>
      <ion-button expand=full size="small" (click)="getPicture('gallery')">
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>Gallery</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>

  <input type="file" style="display:none" #filePicker (change)="onFileChoose($event)" />
  <div *ngIf="isSaved">
    <img [src]="image" id="image" class="m-auto" *ngIf="image">
  </div>
</ion-content> -->





<!-- ====================================================================================== -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Android-Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!image || isSaved">
    <div *ngIf="locationObj">
      Latitude: {{locationObj.latitude}}<br />
      Longitude: {{locationObj.longitude}}
    </div>
    <ion-item>
      <ion-label>For Camera Show Hide:</ion-label>
      <ion-toggle [(ngModel)]="cam"></ion-toggle>
    </ion-item>
    <ion-row>
      <ion-col size=6 *ngIf="cam">
        <ion-button expand=full size="small" (click)="getPicture('camera')">
          <ion-icon name="camera" slot="start"></ion-icon>
          <ion-label>Camera</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size=6>
        <ion-button expand=full size="small" (click)="getPicture('gallery')">
          <ion-icon name="image" slot="start"></ion-icon>
          <ion-label>Gallery</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <input type="file" style="display:none" #filePicker (change)="onFileChoose($event)" />

  <div>
    Location Error show Here :
    <div *ngIf="error"> {{error}} </div>
  </div>

  <ion-card *ngIf="image">
    <ion-card-content>
      {{isSaved}}
      <div *ngIf="!isSaved" class="image-container" style="max-height:400px">
        <img [src]="image" id="image" style="max-width: 70%;min-width: 70%;opacity:0" *ngIf="image">
      </div>
      <div *ngIf="!isSaved">
        <ion-button size="small" (click)="crop()">
          <ion-icon name="crop-outline"></ion-icon>
          <ion-label>Crop</ion-label>
        </ion-button>
        <ion-button size="small" (click)="reset()">
          <ion-icon name="crop-outline"></ion-icon>
          <ion-label>Reset</ion-label>
        </ion-button>
      </div>
      <div *ngIf="isSaved">
        <img [src]="image" id="image" c
        lass="m-auto" *ngIf="image">
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>