<app-fire-cms-header [hideSideMenu]="authState ? 'true' : ''" [goBack]="authState ? 'true' : ''" [title]="'Contact'">
</app-fire-cms-header>
<ion-content>
  <ion-grid class="pt-5 pb-5">
    <ion-row class="mt-3">
      <ion-col class="text-center font-21 sml-text1 pl-5 pr-5">
        <h3>Talk to sales</h3>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="text-center font-16 sml-text1 pl-5 pr-5">
        Lorem ipsum dolor sit amet
      </ion-col>
    </ion-row>
    <ion-row class="mt-4">
      <ion-col class="pl-5 pr-5">
        <ion-item>
          <ion-label><span style="color:red;">* </span>Phone</ion-label>
          <ion-input [(ngModel)]="messageObject.number" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="pl-5 pr-5">
        <ion-item>
          <ion-label><span style="color:red;">* </span>Mail</ion-label>
          <ion-input [(ngModel)]="messageObject.email" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="pl-5 pr-5">
        <ion-item>
          <ion-label><span style="color:red;">* </span>Message</ion-label>
          <ion-input [(ngModel)]="messageObject.message" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="mt-4">
      <ion-col class="pl-5 pr-5 text-center">
        <button (click)="addMessage()" ion-button class="header1_btn">Let's Talk</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-fire-cms-footer></app-fire-cms-footer>
</ion-content>