<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Add Footer 1'"></app-fire-cms-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Tagline" [(ngModel)]="footer1Object.tagline"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Phone no." [(ngModel)]="footer1Object.phone_num"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="setFooter1()">
        &nbsp;Add Footer1
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>