<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'View Leads'"></app-fire-cms-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-select (ionChange)="chageUser($event)" class="margin-bottom-8" placeholder="Select User"
        [(ngModel)]="selectedUser">
        <ion-select-option *ngFor="let item of users ;let i=index" [value]="item">
          {{item.Name}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select class="margin-bottom-8" placeholder="Select Status" 
        [(ngModel)]="selectedValue">
        <ion-select-option *ngFor="let item of options ;let i=index" [value]="item">
          {{item}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-card class="ion-padding" [hidden]="item.status !== selectedValue" *ngFor="let item of leads">
    <ion-row>
      <ion-col size="8">
        {{item.lead_name}}
      </ion-col>
      <ion-col>
        <ion-icon *ngIf="item.offline" name="time-outline"></ion-icon>
      </ion-col>
      <!-- <ion-col size="1">
        {{item.orderby}}
      </ion-col> -->
      <ion-col size="1" (click)="editLead(item.leadDocId)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="goToLeadChat(item.leadDocId)">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deleteLead(item.leadDocId)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <ion-button (click)="goToFeature(item)">Add feature</ion-button>
        <ion-button (click)="goToPricing(item)">Add Price</ion-button>
        <ion-button (click)="goToHowItWork(item)">Add How it work</ion-button>
        <ion-button (click)="manageCover(item)">Mange Cover</ion-button> -->
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>