

.login-header{
    color: royalblue;
    text-align: center;
    height: 55px;
    
    }
    
    
    
    
    .logo-img{
        display: block;
    width: 200px;
    margin: 45px;
    text-align: center;
    }
    
    .heading-column-lr{
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .big-heading{
        text-align: center;
        align-items: center;
        font-family: "Heebo-Bold" !important;
        font-size: 20px ;
        color:var(--theme-black);
        
    }
    
    .small-heading{
        font-family: "Heebo-Regular" !important;
        margin-left: auto; padding-right: 40px; font-size: 15px;
    }
    
    ion-label{
        color: #000;
        opacity: .8;
        font-size: 13px;
        display: block;
    }
    
    ion-content{
        --background: #fafafa;
    }
    
    [transparent]{
        --background: transparent;
    }
    
    ion-input{
        --color: #000;
        --padding-botton: 15px;
        --padding-top: 15px;
        --padding-start: 5px;
        font-size: 15px;
        text-indent: 1px;
        padding-left: 10px !important;
    }
    
    [icon-small]{
        width: 30px;
    }
    
    ion-item{
        --highlight-color-focused:transparent;
        --highlight-height:0;
        --highlight-color-invalid:#000;
        --highlight-color-valid:#ddd;
        --min-height: 65px;
        --padding-start: 0;
    }
    
    [linespace]{
        height: 30px;
    }
    
    ion-label{
        color: #000;
        opacity: .8;
        font-size: 13px;
        display: block;
    }
    
    .forget-password{
        color: #000;
        font-size: 13px;
        display: block;
        text-align: right;
        padding: 10px;
    }
    
    