<ion-content class="ion-padding">


  <!-- <img class="logo-img" src="./assets/img/bron.PNG">  -->


  <div class="center">


    <!-- <p class="big-heading">Simplest Guard Patrolling Solution.</p> -->
    <!-- <h2 class="small-heading">Sign up</h2> -->

<p>v1.03</p>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

      <ion-item transparent>
        <img icon-small src="./assets/img/user.png" />
        <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item transparent>
        <img icon-small src="./assets/img/lock.png" />
        <ion-input type="password" placeholder="Password" formControlName="password" class="form-controll" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div linespace></div>
      <ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block"
        class="submit-btn" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text (click)="goToHomePage()">Go To Home</ion-text>
        </ion-col>
      </ion-row>

      <!-- <ion-label class="ion-text-center">Don't have an account ?<span class="link-button" (click)="goToRegisterPage()">Sign up</span></ion-label> -->
      <label class="error-message">{{errorMessage}}</label>
    </form>

  </div>

  <!-- <p class="go-to-register">
    No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
  </p> -->
</ion-content>