<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Icon Lists</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item (click)="selectItem(item)" *ngFor="let item of iconLists ; let i = index">
    <ion-label>
      <ion-row>
        <ion-col class="ion-text-capitalize" size="11">
          {{item}}
        </ion-col>
        <ion-col size="1">
          <ion-icon [name]="item"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

</ion-content>