<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Admin Users'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-button (click)="createNewUser()">Create Admin User</ion-button>
  <h5>Admin Users</h5>
  <ion-card class="ion-padding" *ngFor="let item of adminUser; let i = index;">
    <ion-row>
      <ion-col size="10">
        <div> User Name: {{item.Name}} </div>
        <div>Email: {{item.email}}</div>
        <div>Company Name: {{item.company_name}}</div>
      </ion-col>
      <ion-col size="2" (click)="goToProductsAndUsers(item)">
        <ion-button>Products & Users</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>