.text-purpl {
  color: var(--ion-color-primary) !important;
}
.brdrbtm {
  margin: 10px 0;
  width: 80px;
  height: 5px;
  border-color: var(--ion-color-primary);
  border-style: solid;
  border-radius: 50px;
  margin-top: 0 !important;
}
.bg-lggray {
  background-color: var(--footclr);
}
