<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Add Price'"></app-fire-cms-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Price Title" [(ngModel)]="pricingObject.price_header"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Number of user" type="number" [(ngModel)]="pricingObject.no_user"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- <ion-select placeholder="Select Product Name" [(ngModel)]="selectedProduct">
        <ion-select-option *ngFor="let item of products ;let i=index" [value]="item">
          {{item.product_name}}
        </ion-select-option>
      </ion-select> -->
      <ion-input [disabled]="index" placeholder="Enter Price" type="number" [(ngModel)]="pricingObject.price">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select [disabled]="index" placeholder="Select Product Currency" [(ngModel)]="pricingObject.currency">
        <ion-select-option *ngFor="let item of currencyOptions ;let i=index" [value]="item">
          {{item}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!prouductId">
    <ion-col>
      <ion-select placeholder="Select Product Name" [(ngModel)]="selectedProduct">
        <ion-select-option *ngFor="let item of products ;let i=index" [value]="item">
          {{item.product_name}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select [disabled]="index" class="margin-bottom-8" placeholder="Select Period" [compareWith]="compareWith"
        [(ngModel)]="pricingObject.plan">
        <ion-select-option *ngFor="let item of periods ;let i=index" [value]="item">
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of featuresArray ; let i = index; trackBy:trackByFn;">
    <ion-col size="10">
      <ion-input placeholder="Enter Features {{i+1}}" name="feature{{i}}" [(ngModel)]="pricingObject.featuresArray[i]">
      </ion-input>
    </ion-col>
    <ion-col size="1" class="vertical-center">
      <ion-icon name="add-circle" *ngIf="i == (featuresArray.length - 1)" (click)="addMoreInput()"></ion-icon>
    </ion-col>
    <ion-col size="1" class="vertical-center">
      <ion-icon name="trash" (click)="removeInput(i)" *ngIf="i >0 || featuresArray.length > 1"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button *ngIf="!prouductId || !index" (click)="addPrice()">
        &nbsp;Add Price
      </ion-button>
      <ion-button *ngIf="prouductId && index !== undefined" (click)="addPrice()">
        &nbsp;Update Price
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>