/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #8c8cf9;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8c8cf9;
  --ion-color-primary-tint: #8c8cf9;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #00a82d;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a82d;
  --ion-color-success-tint: #00a82d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** SALONI WORK **/
  --ion-color-purple: #5c6ac4;
  --ion-color-green: #00a82d;
  --text-white: #fff;
  --text-green: #00a82d;
  --head1clr: #444f60;
  --smltxtclr: #8e9baf;
  --smltxtclr1: #444f60;
  --text-black: black;
  --text-gray: #696969;
  --footclr: #f5f6fa;
  --lggray: #eff4f7;
  --gray:#f5f6f6;
  --drgray:#444f60;
  // --headbgclr:#f5f6fa;
}
//////////////////////// SALONI WORK ///////////////////////////
.mt-1 {
  margin-top: 0.5rem !important;
}
.m-3{margin:1rem !important;}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}
.mt-4 {
  margin-top: 2rem !important;
}
.mb-4 {
  margin-bottom: 2rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
//.ml-2{padding-left:1rem !important;}
.ml-3 {
  margin-left: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.ml-4 {
  margin-left: 2rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}
.mr-2 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 2rem !important;
}
.ml-2 {
  margin-left: 1rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pl-0 {
  padding-left: 0rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.pl-5 {
  padding-left: 3rem !important;
}
.pr-5 {
  padding-right: 3rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.pr-3 {
  padding-right: 1rem !important;
}
.pt-0 {
  padding-top: 0rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-4 {
  padding-top: 2rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.pb-4 {
  padding-bottom: 2rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
.pt-7 {
  padding-top: 5rem !important;
}
.pb-7 {
  padding-bottom: 5rem !important;
}
.pt-10 {
  padding-top: 8rem !important;
}
.pb-12 {
  padding-bottom: 12rem !important;
}
.text-center {
  text-align: center;
}
.bg-grey {
  background-color: #696969 !important;
}
.bg-black {
  background-color: black !important;
}
.bg-white {
  background-color: white;
}
.font-64 {
  font-size: 64px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-21 {
  font-size: 21px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-12 {
  font-size: 12px !important;
  font-family: "Soleil", Helvetica, Arial, sans-serif !important;
}
h1 {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 51px !important;
  font-weight: 400;
  color: var(--head1clr);
  //color:#444f60;
  //color: #222 !important;
  -webkit-font-smoothing: antialiased !important;
}
h2 {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 42px !important;
  font-weight: 400;
  color: var(--head1clr);
  //color:#444f60;
  //color: #222 !important;
  -webkit-font-smoothing: antialiased !important;
}
h3 {
  color: var(--head1clr);
  //color:#444f60;
  //color: #000;
  font-size: 36px !important;
  font-weight: normal !important;
  letter-spacing: 0 !important;
  line-height: 150% !important;
  margin: 10px 0 !important;
  -webkit-font-smoothing: antialiased !important;
}
h5 {
  color: var(--head1clr);
  font-weight: normal !important;
  letter-spacing: 0 !important;
  line-height: 150% !important;
  margin: 10px 0 !important;
  -webkit-font-smoothing: antialiased !important;
}
.sml-text {
  color: var(--smltxtclr);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 150%;
  -webkit-font-smoothing: antialiased !important;
}
.sml-text1 {
  color: var(--smltxtclr1);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 150%;
  -webkit-font-smoothing: antialiased !important;
}
.header1_img {
  height: 360px;
  width: 492px;
  margin-right: 1rem;
}
.header2_img {
  height: 500px;
  width: 700px;
  margin-right: 1rem;
}
.prmd5{
  padding-right:3rem !important;
}
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 40px !important;
    font-weight: 200;
  }
}
@media (min-width: 320px) and (max-width: 420px) {
  .header1_img {
    height: 341px !important;
    width: 333px !important;
  }
  .header2_img {
    height: 341px !important;
    width: 333px !important;
  }
  .prmd5{
    padding-right:0rem !important;
  }
}
/////////////////////////////////////////////////////////////////
