<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Product'"></app-fire-cms-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Browser Title" [(ngModel)]="browserObject.browser_title">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="setTitle()">
        &nbsp;Set Title
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>