<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Product'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Product Name" [(ngModel)]="productObject.product_name"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input type="number" placeholder="Order By" [(ngModel)]="productObject.orderby"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select placeholder="Select Product Status" [(ngModel)]="productObject.status">
        <ion-select-option value="active">
          Active
        </ion-select-option>
        <ion-select-option value="inactive">
          InActive
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Product Tagline" [(ngModel)]="productObject.product_tagline"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Weblink" [(ngModel)]="productObject.web_link"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Appstore Link" [(ngModel)]="productObject.appstore_link"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Playstore link" [(ngModel)]="productObject.playstore_link"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-textarea placeholder="Enter Product Description" [(ngModel)]="productObject.product_description">
      </ion-textarea>
    </ion-col>
  </ion-row>


  <input type="file" class="display-none" accept="image/*" #imgInput (change)="imageUpload($event)">
  <ion-button *ngIf="!productObject.product_image" (click)="imgInput.click()">
    Upload Image</ion-button>

  <ion-img *ngIf="productObject.product_image || url" (click)="imgInput.click()"
    [src]="url ? url :productObject.product_image" class="font-21 product-image">
  </ion-img>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button *ngIf="!productId" (click)="addProduct()">
        &nbsp;Add Product
      </ion-button>
      <ion-button *ngIf="productId" (click)="updateProduct()">
        &nbsp;Update Product
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card [hidden]="!productId">
    <ion-card-header>
      <ion-card-title>Feature.>.</ion-card-title>
      <ion-button (click)="goToFeature()">Add Feature</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-padding" [hidden]="!productId" *ngFor="let item of productObject.features ; let i = index;">
    <ion-row>
      <ion-col size="10">
        {{item.feature_name}}
      </ion-col>
      <ion-col size="1" (click)="editFeature(i)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deleteFeature(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card [hidden]="!productId">
    <ion-card-header>
      <ion-card-title>Prices</ion-card-title>
      <ion-button (click)="goToPricing()">Add Price</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-padding" [hidden]="!productId" *ngFor="let item of productObject.prices ; let i = index;">
    <ion-row>
      <ion-col size="10">
        {{item.price_header}}
      </ion-col>
      <ion-col size="1" (click)="editPrice(i)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deletePrice(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card [hidden]="!productId">
    <ion-card-header>
      <ion-card-title>How it Works</ion-card-title>
      <ion-button (click)="goToHowItWork()">Add How it works</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-padding" [hidden]="!productId" *ngFor="let item of productObject.howitworks ; let i = index;">
    <ion-row>
      <ion-col size="10">
        {{item.title}}
      </ion-col>
      <ion-col size="1" (click)="editHowItWorks(i)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deleteHowItWorks(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>