<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input placeholder="Enter company name" [(ngModel)]="loginObject.company_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Enter First Name" [(ngModel)]="loginObject.Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Enter Last Name" [(ngModel)]="loginObject.lname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Enter Phone" [(ngModel)]="loginObject.phno"></ion-input>
  </ion-item>


  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>

  <ion-row>
    <ion-col class="ion-text-center" (click)="goToLogin()">
      Already have account ? Login here
    </ion-col>
  </ion-row>
</ion-content> -->

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->


<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid class="container centered">
    <ion-row class="row ion-justify-content-center">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="8" class="form-group">
  <ion-item lines="none">
    <ion-label position="stacked">Company name</ion-label>
    <ion-input class="input_box" placeholder="Enter company name" [(ngModel)]="loginObject.company_name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">First name</ion-label>
    <ion-input class="input_box" placeholder="Enter First Name" [(ngModel)]="loginObject.Name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Last name</ion-label>
    <ion-input class="input_box" placeholder="Enter Last Name" [(ngModel)]="loginObject.lname"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Phone</ion-label>
    <ion-input class="input_box" placeholder="Enter Phone" [(ngModel)]="loginObject.phno"></ion-input>
  </ion-item>

  <!-- <ion-item lines="none">
    <ion-button class="submit-btn" type="submit">Register</ion-button>
  </ion-item> -->

 <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
    <ion-item lines="none">
      <ion-label position="stacked" color="primary">Email</ion-label>
      <ion-input class="input_box" type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item lines="none">
      <ion-label position="stacked" color="primary">Password</ion-label>
      <ion-input class="input_box" type="password" formControlName="password" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>

  <ion-row>
    <ion-col class="ion-text-center" (click)="goToLogin()">
      Already have account ? Login here
    </ion-col>
  </ion-row>


    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
