
ion-content {
    --ion-background-color: #f3f3f3;
  
  }
  ion-item
  {
    --ion-background-color:none;
  }
  .centered {
    display: grid;
    align-items: center !important;
    width: 93%;
    height: 95%;
    background-color: #fff;
    margin-top: 19px;
  
  }
  
  .input_box {
    border-radius: 3px;
    border: 1px solid #7e7e7e;
    margin-bottom: 15px;
    padding-left: 3px !important;
    margin-top: 3px;
  }
  .submit-btn {
    font-size: 16px;
    height: 37px;
    width: 100%;
    display: block;
  }
  