<app-fire-cms-header [goBack]="true" [title]="'Manage'"></app-fire-cms-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-button (click)="goToCreateUser()">Create User</ion-button>
      <ion-button (click)="goToAdminSttings()">Admin Settings</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="selectedProduct.web_link">
    <ion-col size="2">
      <b>Web link:</b>
    </ion-col>
    <ion-col (click)="copyLink(selectedProduct.web_link)">
      {{selectedProduct.web_link}}
      <ion-icon name="copy-outline"></ion-icon>
    </ion-col>

  </ion-row>
  <ion-row *ngIf="selectedProduct.appstore_link">
    <ion-col size="2">
      <b>Appstore link:</b>
    </ion-col>
    <ion-col (click)="copyLink(selectedProduct.appstore_link)">
      {{selectedProduct.appstore_link}}
      <ion-icon name="copy-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="selectedProduct.playstore_link">
    <ion-col size="2">
      <b>Playstore link:</b>
    </ion-col>
    <ion-col (click)="copyLink(selectedProduct.playstore_link)">
      {{selectedProduct.playstore_link}}
      <ion-icon name="copy-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-card class="ion-padding" [hidden]="item.authId === userData.authId" *ngFor="let item of users; let i = index;">
    <ion-row>
      <ion-col size="10">
        {{item.Name}}
      </ion-col>
      <ion-col size="1" (click)="editUser(item)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deleteUser(item)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>