<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Add How it works'"></app-fire-cms-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Title" [(ngModel)]="howitWorkObject.title"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="howitWorkObject.subtitle"></angular-editor>
    </ion-col>
  </ion-row>
  <input type="file" class="display-none" accept="image/*" #imgInput (change)="imageUpload($event)">
  <ion-button *ngIf="!howitWorkObject.url" (click)="imgInput.click()">
    Upload Image</ion-button>
  <ion-img *ngIf="howitWorkObject.url" (click)="imgInput.click()" [src]="howitWorkObject.url"
    class="font-21 product-image">
  </ion-img>

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button *ngIf="!prouductId || !index" (click)="addPrice()">
        &nbsp;Add How it Works
      </ion-button>
      <ion-button *ngIf="prouductId && index !== undefined" (click)="addPrice()">
        &nbsp;Update How it Works
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>