<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Admin settings'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Timein Project</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Detect Url</ion-label>
            <ion-input [(ngModel)]="timeinData.detect_url"> </ion-input>
          </ion-item>
          <!-- <ion-input placeholder="Enter Detect Url" [(ngModel)]="timeinData.detect_url"></ion-input> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Identify Url</ion-label>
            <ion-input [(ngModel)]="timeinData.identify_url">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Subscription Key</ion-label>
            <ion-input [(ngModel)]="timeinData.subscription_key">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Host</ion-label>
            <ion-input [(ngModel)]="timeinData.host"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Group Id</ion-label>
            <ion-input [(ngModel)]="timeinData.group_id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Group Url</ion-label>
            <ion-input [(ngModel)]="timeinData.group_url"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Group Name</ion-label>
            <ion-input [(ngModel)]="timeinData.name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Group Userdata</ion-label>
            <ion-input [(ngModel)]="timeinData.userData"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Group Recognition Model</ion-label>
            <ion-input [(ngModel)]="timeinData.recognitionModel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Group Detection Model</ion-label>
            <ion-input [(ngModel)]="timeinData.detectionModel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Radius</ion-label>
            <ion-input [(ngModel)]="timeinData.radius"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>PK Project</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Telegram Id</ion-label>
            <ion-input [(ngModel)]="timeinData.telegram_id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Latitude</ion-label>
            <ion-input [(ngModel)]="timeinData.lat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Longitude</ion-label>
            <ion-input [(ngModel)]="timeinData.long"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Algolia Settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter App Id</ion-label>
            <ion-input [(ngModel)]="timeinData.algolia_app_id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Admin Key</ion-label>
            <ion-input [(ngModel)]="timeinData.algolia_admin_key"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Index</ion-label>
            <ion-input [(ngModel)]="timeinData.algolia_index"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="saveData()">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>