.text-white {
  color: var(--text-white) !important;
}

.brdr {
  border: 1px solid #e5e5e5;
}
.text-center {
  text-align: center !important;
}

.bg-white {
  background-color: white;
}
.bg-lggray {
  background-color: var(--lggray);
}

.text-purpl {
  color: var(--ion-color-primary) !important;
}
