<app-fire-cms-header [title]="'Dashboard'"></app-fire-cms-header>
<ion-content padding>
  <!-- <ion-button (click)="goToAddLead()">Add Lead</ion-button>
  <ion-button (click)="goToMyLeads()">My Leads</ion-button>
  <ion-button *ngIf="userData && userData.role === 'super-admin'" (click)="goToView()">View Leads</ion-button> -->

  <ion-button *ngIf="userData && userData.role === 'super-admin'" (click)="goToHomeManagement()">Home Management
  </ion-button>

  <ion-button *ngIf="userData && userData.role === 'super-admin'" (click)="goToAdminUsers()">Manage Admin User
  </ion-button>
  <ion-button *ngIf="userData && userData.role === 'super-admin'" (click)="goToFeature()">Manage Product</ion-button>
  <ion-button *ngIf="userData && userData.role === 'super-admin'" (click)="addTitle()">Add Browser Title</ion-button>
  <ion-button *ngIf="userData && userData.role === 'super-admin'" (click)="goToCompanySettings()">Company Settings
  </ion-button>
  <!--[value]="{$value: followers}"-->
  <!-- <ion-select multiple="true" okText="Okay" cancelText="Dismiss" [(ngModel)]="followers" >
    <ion-select-option value="brown">Brown</ion-select-option>
    <ion-select-option value="blonde">Blonde</ion-select-option>
    <ion-select-option value="black">Black</ion-select-option>
  </ion-select> -->
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Office Plus - Call Logger Dashboard {{userEmail}} v1.0.25
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <!-- bg-lggray Blue - #454267-->
  <ion-grid class="pt-5 pb-5  bg-white">
    <ion-row class="text-center pt-5 pb-5 ion-justify-content-center">
      <ion-col size-md="5" size-sm="11" size-xs="11" size-lg="6" size-xl="5" class="mt-4 mb-4  ml-3 mr-3 text-center"
        *ngFor="let list of products;">
        <ion-grid class="brdr bg-white">
          <ion-row class="mt-4">
            <ion-col class="text-center">
              <ion-img [src]="list.product_image" class="font-21 product-image"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row class="">
            <ion-col class="text-center">
              <h5>{{list.product_name}}</h5>
            </ion-col>
          </ion-row>
          <ion-row class="sml-text font-14 mr-2 ml-2">
            {{list.product_description}}
          </ion-row>
          <ion-row class="mt-3 mb-4" (click)="goToProductInfo(list)">
            <ion-col class="text-center justify-content-center d-flex">
              <a target="_blank" class="text-purpl lrb-more"> Learn More </a>
            </ion-col>
          </ion-row>
          <ion-row class="mt-3 mb-4" *ngIf="!list.paid_user">
            <ion-col class="text-center">
              <ion-button *ngIf="!list.end_date" (click)="freeProudct(list)">Start Free Trial </ion-button>
              <div class="text-purpl" *ngIf="list.end_date">{{getNumberOfDays(list)}} </div>
              <ion-button (click)="presentModal(list)">Buy Now
              </ion-button>
              <ion-button *ngIf="list.end_date" (click)="goToManage(list)">Dashboard
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="mt-3 mb-2" *ngIf="list.paid_user">
            <ion-col class="text-center">
              <ion-button (click)="goToManage(list)">Dashboard
              </ion-button>
              <ion-col>
                <ion-button (click)="presentModal(list)" ion-button class="header1_btn">Upgrade</ion-button>
              </ion-col>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="list.end_date">
            <ion-col class="text-center">
              <div class="text-purpl">No of User Allowed {{list.no_user ? list.no_user: '1'}}</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="list.end_date">
            <ion-col class="text-center">
              <div class="text-purpl">licence active till {{getDateFormat(list)}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>