<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Set Product Cover'"></app-fire-cms-header>
<ion-content class="ion-padding">
  <ion-segment mode="md" [(ngModel)]="selectedCover">
    <ion-segment-button mode="md" value="cover 1">
      <ion-label>Cover 1</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="cover 2">
      <ion-label>COver 2</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectedCover === 'cover 1'">
    <ion-row>
      <ion-col>
        <ion-input placeholder="Title" [(ngModel)]="coverObject.title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="coverObject.subtitle"></angular-editor>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Product Cover Update Text 1" [(ngModel)]="coverObject.prod_cover_update1"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Product Cover Update Text 2" [(ngModel)]="coverObject.prod_cover_update2"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Cover Button text" [(ngModel)]="coverObject.cover_button_text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Cover Button Link" [(ngModel)]="coverObject.cover_button_link"></ion-input>
      </ion-col>
    </ion-row>
    <input type="file" class="display-none" accept="image/*" #imgInput (change)="imageUpload($event)">
    <ion-button *ngIf="!coverObject.url" (click)="imgInput.click()">
      Upload Cover Image</ion-button>

    <ion-img *ngIf="coverObject.url" (click)="imgInput.click()" [src]="coverObject.url" class="font-21 product-image">
    </ion-img>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="setCover()">
          &nbsp;Set Cover
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="selectedCover === 'cover 2'">
    <ion-row>
      <ion-col>
        <ion-input placeholder="Title" [(ngModel)]="cover2Object.title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="SubTitle" [(ngModel)]="cover2Object.subtitle"></ion-input>
      </ion-col>
    </ion-row>
    <input type="file" class="display-none" accept="image/*" #imgInput (change)="imageUpload2($event)">
    <ion-button *ngIf="!cover2Object.url" (click)="imgInput.click()">
      Upload Cover Image</ion-button>

    <ion-img *ngIf="cover2Object.url" (click)="imgInput.click()" [src]="cover2Object.url" class="font-21 product-image">
    </ion-img>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="setCover2()">
          &nbsp;Set Cover
        </ion-button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>