<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Price</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-grid class="pt-5 pb-5 headbg">
    <ion-segment mode="ios" [(ngModel)]="selectedPrice" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="monthly">
        <ion-label>Monthly</ion-label>
      </ion-segment-button>
      <ion-segment-button value="yearly">
        <ion-label>Yearly</ion-label>
      </ion-segment-button>
      <ion-segment-button value="one_time">
        <ion-label>One Time</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- <ion-row class="ion-justify-content-center sml-text font-21">
  
  </ion-row> -->
    <ion-row class="text-center pt-4 pb-4 ion-justify-content-center">
      <ion-col [hidden]="productInfo.plan_id && productInfo.plan_id === list.plan_id" size-md="3" size-sm="11"
        size-xs="11" size-lg="3" size-xl="3" class="mt-4 mb-4  ml-3 mr-3 text-center"
        *ngFor="let list of filterPrice; let i = index">
        <ion-grid class="brdrpr bg-white">

          <ion-row class="">
            <ion-col class="text-center text-white" [ngStyle]="{'background-color': commonService.primaryColor}">
              <h4 class=" text-white">{{list.price_header}}</h4>
            </ion-col>
          </ion-row>
          <ion-row class="pb-4 pt-5">
            <ion-col class="text-center">
              <sup class="font-16"></sup><span
                class="font-30 pl-3"><b>{{list.price}}{{list.currency === 'USD' ? '$': '₹'}}</b></span>
              <span class="sml-text font-14 pl-2">/</span><span
                class="sml-text font-14 pl-2">{{list.plan ? list.plan.name : ''}} ({{list.no_user}}
                User)</span>
            </ion-col>
          </ion-row>
          <ion-row class="sml-text font-16 mr-2 ml-2 pt-3 pb-2" *ngFor="let feature of list.featuresArray">
            <ion-col class="text-center rowbordr">{{feature}}</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center pt-4 pb-5">
            <button *ngIf="!list.paid_user" (click)="buyNow(list ,i)"
              [ngStyle]="{'border-color': commonService.primaryColor,'color': commonService.primaryColor}" ion-button
              class="header1_btn">{{productInfo.subscription_id ? 'Upgrade' : 'Buy Now'}}</button>


          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <div class="text-purpl" *ngIf="productInfo.subscription_id">licence active till {{getDateFormat(list)}}
              </div>
            </ion-col>
          </ion-row>
          <!-- <ion-row class="sml-text font-14 mr-2 ml-2">
                  <ion-col class="text-center">1 data stream</ion-col>
              </ion-row>
              <ion-row class="sml-text font-14 mr-2 ml-2 mb-5">
                  <ion-col class="text-center">1 team member</ion-col>
              </ion-row> -->
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>