<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'My Leads'"></app-fire-cms-header>


<ion-content>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Remark" [(ngModel)]="remark">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="addRemarks()">
        Add Remarks
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card class="ion-padding" *ngFor="let item of leadObject.remarks">
    <ion-row>
      <ion-col size="6">
        {{item.remark}}
      </ion-col>
      <ion-col size="1">
        <ion-icon *ngIf="item.offline" name="time-outline"></ion-icon>
      </ion-col>
      <ion-col>
        {{getDateAndTime(item.date)}}
      </ion-col>
      <!-- <ion-col size="1" (click)="editProduct(item.productDocId)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-col>
      <ion-col size="1" (click)="deleteProduct(item.productDocId)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-card>

</ion-content>