/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.display-none {
  display: none;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

@media only screen and (min-width: 992px) {
  ion-menu {
    display: none;
  }
}

.row {
  display: flex;
}

.left-modal {
  align-items: unset !important;
  justify-content: unset !important;
  --height: 100% !important;
  --width: 270px !important;
}

.product-image {
  width: 120px !important;
  height: 120px !important;
  object-fit: contain !important;
  margin-left: auto;
  margin-right: auto;
}

.price-modal {
  .modal-wrapper {
    width: 100% !important;
    height: 100% !important;
  }
}
