.desktop-toolbar {
  display: none;
}
@media only screen and (min-width: 992px) {
  .mobile-toolbar {
    display: none !important;
  }
  .desktop-toolbar {
    display: flex;
    height: 80px !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px !important;
  }
}

.logo {
  width: 200px !important;
  height: 200px !important;
  object-fit: contain !important;
}

.title {
  margin-left: 15px;
  margin-right: 15px;
  //   color: var(--ion-color-primary);
  margin-top: auto;
  margin-bottom: auto;
}

.header_button{
  background: #EB6A56 ;
  color:#fff;
}
.header1_btn {
  padding: 1em 2.4em;
  min-width: 172px;
  // border-radius: 1.6em;
  // border: 1px solid #f44336;
  color: var(--text-white);
  background-color: #EB6A56;
}