<ion-header mode="md">
  <ion-toolbar class="mobile-toolbar" mode="md">
    <ion-buttons slot="start" [hidden]="hideSideMenu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="goBack" slot="start">
      <ion-button (click)="goBackPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end" *ngIf="!authState">
      <ion-button (click)="goToLogin()">
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="authState">
      <ion-button (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="desktop-toolbar" mode="md">
    <ion-buttons *ngIf="goBack" slot="start">
      <ion-button (click)="goBackPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="row">
      <ion-img class="logo" [src]="logoInfo ? logoInfo.url : ''"></ion-img>
      <div class="row">
        <div class="title" (click)="navigate('home')">Home</div>
        <div class="title" (click)="openProduct()">Products</div>
        <div class="title" *ngIf="authState && (userData.role ==='admin' || userData.role ==='super-admin') "
          (click)="navigate('dashboard')">DashBoard</div>
        <div class="title" (click)="navigate('view-about-us')">About Us</div>
        <div class="title" (click)="navigate('view-about-us')">Contact</div>

        <!-- <div class="title" (click)="navigate('company-setting')">Company Settings</div> -->
      </div>
      <!-- <ion-title *ngIf="authState">{{title}}</ion-title> -->
      <!-- <div class="title" *ngIf="authState && router.url === '/dashboard'" (click)="navigate('home')">Preview</div> -->
    </div>
    <ion-buttons slot="end">
      <!-- <ion-button mode="md" class="header_button">
        Start Your Free Trial
      </ion-button>
      <ion-button mode="md" class="header_button">
        Request A Demo      
      </ion-button> -->
      <a *ngIf="!authState" class="header1_btn  text-white text-center" (click)="goToFreeUser()">Start Your Free
        Trial</a>
      <ion-button mode="md" *ngIf="!authState" (click)="goToLogin()">
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
      <ion-button mode="md" *ngIf="authState" (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>