.textareadiv ion-input, ion-textarea
{
    border-radius: 17px;
    min-height: 30px;
    max-height: 100px;
    height: auto;
    font-size: 17px;
    // top:-40px;
}
.msgs
    {
        width:55%;
        border-radius:5px;
        margin: 12px 12px;
        padding:0.5rem;
        text-align: center;
    }
.bg
{
    height: calc(100% - 12px);
    position: relative;
    background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
    z-index: 0;
}
.sendmsg
{
    padding: 0px;
    width: 45px;
    height: 45px;
    line-height: 50px;
    border-radius:50%;
    position: fixed;
    bottom: 6px;
    right: 3px;
    // border: 1px solid #24cfb5;
}
.sendmsg ion-icon
{
    color:#fff!important;

}

// .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before
// {
//     // background-image:none;
    
// }
.footer-md::before {
    background-image:none;
}

.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start]
{
    margin:0px;
}
.item-md ion-thumbnail
{
    min-width: 50px;
    min-height: 45px;
    padding:5px;
}
ion-input, ion-textarea
{
    width: 90%;
    float: left;
    // border:1px solid #488aff;
}
// .toolbar-background-md, .toolbar-background-ios
// {
//     background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==');
// }
.toolbar-title-md, .toolbar-title-ios
{
    // color:#000 !important;
    margin-left:-25px;
}
.label-md
{
    margin:5px 0px 5px 0px;
}

.w-space
{
    font-size: 17px;
    line-height:22px;
    text-align: justify;
}
@media (min-width:270px) and (max-width:420px)
{
    ion-input, ion-textarea
    {
        width: 78%;
        float: left;
    }
}
.toolbar-title-md span, .toolbar-title-ios span
{
    padding-left:42px;
}

.read_mark    
{
    width: 6%;
    float: right;
    margin-bottom: -7px;
    margin-top: -16px;
}
.chngedate
{
    margin-bottom: 3px;
}
.chngedate span
{
    background-color: #caeff4;
    padding: 5px;
    font-size: 12px;
}
/////////////////////////////