<ion-header>
  <ion-toolbar>
    <ion-title>whatsagent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #divfocus>
  <div *ngFor="let list of shwarr;" class="msgs" [style.float]="'right'" [style.background-color]="'#e1ffc7'" [style.color]="'#000'"> 
    <!-- <ion-input readonly [(ngModel)]="list.MSG"></ion-input> -->
    <span *ngIf="list.IMG == 'N'" id="divfocus">{{list.MSG}}</span> 
    <span *ngIf="list.IMG == 'Y'"><img src="{{list.MSG}}" style="height:100px;width:100px;"></span> 
  </div>
</ion-content>
<ion-footer style="background-color:none;">
<ion-grid class="m-0 p-0">         
  <ion-row>
    <ion-col class="col-sm-12 col-md-12 col-lg-12 ml-5 mr-0 mt-0 mb-3 p-0 textareadiv">
      <ion-textarea  [(ngModel)]="text" rows="1" autosize  cols="10" placeholder="Type your message..."   [style.background-color]="this.disablemsgbtn == true ? '#fff':'rgba(100, 101, 98, 0.67)'" [style.color]="this.disablemsgbtn == true ? '#000':'#fff'" (keyup.enter)="addData()"></ion-textarea>
      <button ion-button (click)="addImg()"  title="img"><ion-icon name="add"></ion-icon></button>
      <button ion-button (click)="addData()" class="sendmsg clr-white clr-titlebg" [disabled]="disablemsgbtn"><ion-icon name="send"></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>
