<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Add Footer 2'"></app-fire-cms-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Company Name" [(ngModel)]="footer2Object.company_name"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter FaceBook Link" [(ngModel)]="footer2Object.fb_link"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Instagram Link" [(ngModel)]="footer2Object.insta_link"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter Twitter Link" [(ngModel)]="footer2Object.twitter_link"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="setFooter2()">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Add Footer2
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>