<app-fire-cms-header [title]="'Home'"></app-fire-cms-header>
<ion-content>
    <ion-grid  style="width:100%;">
        <ion-row class="pt-10">
            <ion-col class="text-center">
                <h1 class="font-64"><b> {{coverObject.cover_hLine_1}}<br> {{coverObject.cover_hLine_2}}</b></h1>
                <!-- <h1 class="font-64"><b>{{coverObject.heading_cover}}</b></h1> -->
                <!-- <h1>Win It.</h1> -->
            </ion-col>
        </ion-row>
        <!-- <ion-row class="">
            <ion-col class="text-center font-20 sml-text1 pl-3 pr-3">
                {{coverObject.cover_hLine_1}}
            </ion-col>
        </ion-row>
        <ion-row class="">
            <ion-col class="text-center font-20 sml-text1 pl-3 pr-3">
                {{coverObject.cover_hLine_2}}
            </ion-col>
        </ion-row> -->
        <ion-row class="">
            <ion-col class="text-center font-20 sml-text1 pl-3 pr-3 color-bottom">
                {{coverObject.cover_Line_3}}
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- bg-lggray Blue - #454267-->
    <ion-grid class="pt-5 pb-5  bg-white">
        <ion-row class="text-center  pb-5 ion-justify-content-center">
            <ion-col size-md="5" size-sm="11" size-xs="11" size-lg="6" size-xl="5"
                class="mt-4 mb-4  ml-3 mr-3 text-center" *ngFor="let list of products;">
                <ion-grid class="brdr bg-white">
                    <ion-row class="mt-4">
                        <ion-col class="text-center">
                            <ion-img [src]="list.product_image" class="font-21 product-image"></ion-img>
                        </ion-col>
                    </ion-row>
                    <ion-row class="">
                        <ion-col class="text-center">
                            <h5>{{list.product_name}}</h5>
                        </ion-col>
                    </ion-row>
                    <ion-row class="sml-text font-14 mr-2 ml-2">
                        {{list.product_description}}
                    </ion-row>
                    <ion-row class="mt-3 mb-4" (click)="goToProductInfo(list)">
                        <ion-col class="text-center justify-content-center d-flex">
                            <a target="_blank" class="text-purpl lrb-more">  Learn More  </a>
                            <a target="_blank" class="text-purpl sigp-btn">Sign up Now</a>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row class="mt-3 mb-4" *ngIf="!list.paid_user">
                        <ion-col class="text-center">
                            <ion-button *ngIf="!list.end_date" (click)="freeProudct(list)">Start Free Trial </ion-button>
                            <div class="text-purpl" *ngIf="list.end_date">{{getNumberOfDays(list)}} days remaining</div>
                            <ion-button class="text-purpl" *ngIf="list.end_date && getNumberOfDays(list) <= 0">Buy Now
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row class="mt-3 mb-4" *ngIf="list.paid_user">
                        <ion-col class="text-center" (click)="freeProudct(list)">
                            <div class="text-purpl">Already purchased</div>
                        </ion-col>
                    </ion-row> -->
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-fire-cms-footer></app-fire-cms-footer>
</ion-content>