.text-white {
  color: var(--text-white) !important;
}

.brdr {
  border: 1px solid #e5e5e5;
}
.text-center {
  text-align: center !important;
}

.bg-white {
  background-color: white;
}
.bg-lggray {
  background-color: var(--lggray);
}
.lrb-more{
  background-color: rgba(0,0,0,0);
    color: #467dd3; 
    border-radius: 7px;
    border: 1px solid;
    border-width: 1px 1px 2px 1px;
    padding: 15px 35px;
    margin-right: 15px;
}
.sigp-btn{
  background-color: #2DBD9C ;
    color: #fff;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid;
    border-width: 1px 1px 2px 1px;
    padding: 15px 35px;
}
.justify-content-center {
  justify-content: center!important;
}
.d-flex {
  display: flex!important;
}
.color-bottom {

  background-image: linear-gradient(to right, rgb(139, 191, 64) 25%, rgb(230, 27, 33) 25%, rgb(230, 27, 33) 50%, rgb(124, 196, 236) 50%, rgb(124, 196, 236) 75%, rgb(254, 181, 17) 75%);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 6%;
}