<app-fire-cms-header [hideSideMenu]="'true'" [goBack]="'true'" [title]="'Admin Products deatils'"></app-fire-cms-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Enter No of user" [(ngModel)]="productData.no_user"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-datetime displayFormat="DD-MM-YYYY" max="2099-10-31" placeholder="Enter end date" [(ngModel)]="endDate">
      </ion-datetime>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="updateData()">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-content>