<ion-footer>
  <ion-grid style="width:98%;" class="pt-5 bg-drgray  pb-5">
    <ion-row class="mt-4 mb-4">
      <ion-col class="text-center text-black footer_tagline">
         {{footerObject.footer1 ? footerObject.footer1.tagline : ''}}
      </ion-col>
    </ion-row>
    <ion-row class="mt-3 bg-lggray p-3">
      <ion-col class="text-center sml-text1 font-21">
        <a  class="header2_btn ml-3">Call({{footerObject.footer1 ? footerObject.footer1.phone_num : ''}} )</a>
        <!-- [ngStyle]="{'background-color': commonService.primaryColor}" -->
      </ion-col>
      <ion-col class="text-center sml-text1 font-21">
        <a  class="header1_btn ml-3">Start Your Free Trial</a>
      </ion-col>
    </ion-row>
    <!-- </ion-grid>
  <ion-grid class="bg-lggray pb-5"> -->
    <!-- <ion-row class="pl-3 mt-4">
      <h3>
        <ion-icon name="grid" class="mr-2 mt-3"></ion-icon>
        {{footerObject.footer2 ? footerObject.footer2.company_name : ''}}
      </h3>
    </ion-row> -->

    <!-- <ion-row class="ion-text-center"><ion-col> Designed and coded with by CSS Ninja.</ion-col> </ion-row> -->

    <ion-row class="ion-text-center mt4" >
      <!-- <ion-col size-md="6" size-sm="12" size-xs="12" size-lg="6" size-xl="6" class="sml-text font-16"> -->
       <ion-col>
        <ion-row class="sml-text font-16"
          (click)="openDialPicker(footerObject.footer1 ? footerObject.footer1.contact_num : '')">
          <ion-col size="1">
            <ion-icon class="icon-font-size red" name="call-outline"></ion-icon>
          </ion-col>
          <ion-col size="11" class="ion-text-left">
            {{footerObject.footer1 ? footerObject.footer1.contact_num : ''}}
          </ion-col>
        </ion-row>
        </ion-col>

        <ion-col>
        <ion-row class="sml-text font-16"
          (click)="mailto(footerObject.footer1 ? footerObject.footer1.contact_email: '')">
          <ion-col size="1">
            <ion-icon class="icon-font-size green" name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col size="11" class="ion-text-left">
            {{footerObject.footer1 ? footerObject.footer1.contact_email: ''}}
          </ion-col>
        </ion-row>
        </ion-col>

        <ion-col>
        <ion-row class="sml-text font-16">
          <ion-col size="1">
            <ion-icon class="icon-font-size blue" name="location-outline"></ion-icon>
          </ion-col>
          <ion-col size="11" class="ion-text-left">
            {{footerObject.footer1 ? footerObject.footer1.contact_address : ''}}
          </ion-col>
        </ion-row>
      </ion-col>
      </ion-row >  
      <!-- </ion-col> -->
      <!-- <ion-col size-md="6" size-sm="12" size-xs="12" size-lg="6" size-xl="6" class="sml-text1 font-16"> -->
        <!-- <ion-row> -->
          <div class="row" style="display: table;margin: auto;">
            <ion-img class="logo" src="https://firebasestorage.googleapis.com/v0/b/officeplus-ab43b.appspot.com/o/Images%2Flogos?alt=media&token=01285093-b7b2-4f0a-b139-fe8e3468ed0d"></ion-img>
          </div>  
          <ion-row class="ion-text-center" style="color: #5f6c73;font-size: 1rem;">
            <ion-col>
        <span  (click)="viewPolicy('privacy')">
          Privacy Policy
        </span>
        <span class="line">|</span>
        <!-- </ion-row>
        <ion-row> -->
        <span
          (click)="viewPolicy('terms_and_conditions')">Terms & Conditions
        </span>
        <span class="line">|</span>
        <!-- </ion-row>
        <ion-row> -->
        <span 
          (click)="viewPolicy('return_and_refund')">Return & Refund policy
        </span>
        </ion-col>
        <!-- </ion-row> -->
      </ion-row>
    <!-- </ion-row> -->
    <ion-row class="p-3 pt-0 mb-4 ion-text-center social" >
      <ion-col class="col-12 font-14">
        <ion-col class="col-2 pl-3 pr-3"
          (click)="openLink(footerObject.footer2 ? footerObject.footer2.insta_link : '')">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-col>
        <ion-col class="col-2 pl-3 pr-3" (click)="openLink(footerObject.footer2 ? footerObject.footer2.fb_link : '')">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-col>
        <ion-col class="col-2 pl-3 pr-3"
          (click)="openLink(footerObject.footer2 ? footerObject.footer2.twitter_link : '')">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-col>
      </ion-col>
    </ion-row>

    
  </ion-grid>
</ion-footer>