.text-white {
  color: var(--text-white);
}
.text-gray {
  color: var(--text-gray);
  font-weight: bold;
}
.text-black {
  color: var(--text-black);
}
.icon-font-size {
  font-size: 1.4em;
}
.header1_btn {
  padding: 0.8em 1.4em;
  min-width: 180px;
  // border-radius: 1.6em;
  color: var(--text-white);
  background-color: #454267;
  border-radius:7px;
}
.header2_btn {
  padding: 0.8em 1.4em;
  min-width: 180px;
  // border-radius: 1.6em;
  color: #454267;
  background-color: #fff;
  border: solid 1px #454267;
  border-width: 1px 1px 2px 1px;
  border-radius:7px;
}
.bg-lggray {
  // background-color: var(--footclr);
  background: #fff;
  margin: 0 20%;
}
.bg-drgray {
  // background-color: var(--footclr);
  background: #Fff;
}
.footer_tagline{
  font-size: 35px;
}
.mt4{margin:5% 10%;}
.red{color:#EB6A56}
.green{color: #2DBD9C}
.blue{color: #454267}

.line{margin-left: 4px;margin-right: 4px;}
.social{ion-icon{font-size: 22px !important;}}